
.controller {
  background-image: url("https://raw.githubusercontent.com/hunterholland716-hue/ps5-controller-overlay/main/Untitled.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
  
